h1{
color: purple;
  font-size: 40px;
}
.naslov{
margin-left:40px;
margin-top:70px;
}
.naslov > h3{
color:purple;
margin-bottom: 140px;
}


section {
    width: 1100px;
    margin:auto;
    padding:0;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family: Arial;
    font-size: 16px;
}

.spajanje{
     display:grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto;
     grid-gap: 10px;
     margin: 10px;
     width: 450px;
     align-items:center;
     justify-content:center;
}
#Register{
     background-color: lightgray;
     width: 210px;
     display: block;
     flex-direction:column;
     justify-content: center;
     padding:10px;
     margin:10px;
 }

#Login{
     margin:10px;
     background-color: lightgray;
     width: 200px;
     display: block;
     flex-direction:column;
     justify-content: center;
     padding: 18px;
     margin:10px;
 }

input{
width: 90px;
margin:9px;
border:none;
}

.prva{
width:600px;
height:600px;
padding:0px;
margin:0px;
}


button {
  margin-left:130px;
  margin-top:10px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.logslika > img{
  width:30px;
  height:20px;
  padding-left: 40px;
}
.regslika > img{
  width: 83px;
  height: 20px;
}
#email1{
  margin-left: 35px;
}
