<header>
  <span id="titleAndIcon">
    <img alt="Panda image" src="assets/pandalogo.PNG">
    <h1>PriorityPanda</h1>
    </span>
</header>

<div class="content">
  <div class="top-section">
    <h1>You are logged out.</h1>
    <h1>Thank you for using <span class="purple">PriorityPanda</span>!</h1>
  </div>
  <div class="bottom-section">
    <div class="join-us">Join us again <span class="arrow">&#8594;</span></div>
    <button><a routerLink="/homepage">Log In</a></button>
    <img src="assets/img.png" alt="Panda Image" class="panda-main">
  </div>
</div>
<app-footer></app-footer>
