header {
  background-color: #d7cdcc;
  width: 100%;
}

#content {
  background-color: #d7cdcc;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: auto;
  align-items: center;
}

h1 {
  font-weight: bold;
}
a{
  text-decoration: none;
}
img {
  width: 70px;
  height: 60px;
}

#buttons {
  display: flex;
}
a {
  text-decoration: none;
  color: white;
}

#buttons > button {
  margin-left: 20px;
  background-color: #9c528b;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  border: #9c528b;
  border-radius: 5px;
}

#button:hover {
  box-shadow: 5px 5px 5px #444444;
  background-color: #8F4B7F;
}

#titleAndIcon {
  display: flex;
}

#titleAndIcon > img {
  margin-right: 10px;
}
