<section>
  <div>
    <h2>Badges:</h2>
  </div>

  <div id="badges">
    <div id="badge1">
      <img src="../../../assets/badge1.png">
      <p>Starter badge</p>
    </div>
    <div id="badge2">
      <img src="../../../assets/badge2.png">
      <p>Consistent badge</p>
    </div>
    <div id="badge3">
      <img src="../../../assets/badge3.png">
      <p>Productivity badge</p>
    </div>
    <div id="badge4">
      <img src="../../../assets/badge4.png">
      <p>Task master badge</p>
    </div>
    <div id="badge5">
      <img src="../../../assets/badge5.png">
      <p>Super achieve badge</p>
    </div>
  </div>

  <div id="ticks">

  </div>

</section>
