main {
  background-color: white;
  padding: 20px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.form-container {
  width: 60%;
  padding: 20px;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  color: black;
  margin-right: 10px;
}

input, select, textarea {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #d7cdcc;
  color: black;
  border: none;
  width: 100%;
}

button[type="submit"] {
  background-color: purple;
  color: white;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #9c528b;
}

.personal-list {
  width: 35%;
  border-left: 1px solid lightgrey;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.personal-list h2 {
  text-align: center;
}

.list-item {
  flex: 1;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #d7cdcc;
}
