<app-header></app-header>

<main>
  <div class="content-container">
    <div class="sidebar">
      <h3>View:</h3>
      <a routerLink="/calendar">Calendar</a>
      <a routerLink="/analytics">Productivity</a>
      <a routerLink="/badges">Badges</a>
    </div>

    <div class="to-do-list">
      <h2>Your To-Do List:</h2>
      <div class="dijelovi">
        <section class="work-section">
          <h3 class="purple">Work</h3>
          <p>Weekly meeting with Hanadi, Ena, and Dzejla.</p>
          <div class="actions">
            <button class="edit-btn">Edit</button>
            <button class="delete-btn">Delete</button>
            <button class="add-btn">+</button>
          </div>
        </section>

        <section class="finances-section">
          <h3 class="dark-grey">Finances</h3>
          <p>By 8th May, pay bills and rent.</p>
          <div class="actions">
            <button class="edit-btn">Edit</button>
            <button class="delete-btn">Delete</button>
            <button class="add-btn">+</button>
          </div>

        </section>

        <section class="health-section">
          <h3 class="light-grey">Health</h3>
          <p>5th May, dentist appointment.</p>
          <div class="actions">
            <button class="edit-btn">Edit</button>
            <button class="delete-btn">Delete</button>
            <button class="add-btn">+</button>
          </div>
        </section>
      </div>
    </div></div>
</main>


<app-footer></app-footer>
