<app-header></app-header>

<main>
  <div class="content-container">
    <div class="sidebar">
      <h3>View:</h3>
      <button><a routerLink="/calendar">Calendar</a></button>
      <button><a routerLink="/analytics">Productivity</a></button>
      <button><a routerLink="/badges">Badges</a></button>
    </div>

    <div class="to-do-list">
      <h2>Your To-Do List:</h2>
      <div class="dijelovi">
        <section *ngFor="let label of labels">
          <h3>{{ label | uppercase }}</h3>
          <div *ngFor="let task of getTasksByLabel(label)">
            <p>{{ task.description }}</p>
            <div class="actions">
              <button class="edit-btn" (click)="editTask(task)">Edit</button>
              <button class="delete-btn" (click)="deleteTask(task)">Delete</button>
              <!-- If you implement markAsDone method, you can uncomment this button -->
              <!-- <button class="done-btn" (click)="markAsDone(task)">Done</button> -->
            </div>
          </div>
          <button class="add-btn" (click)="addTask(label)">+</button>
        </section>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
