.nav-buttons {
  display: flex;
}

.purple-btn {
  background-color: purple;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

main {
  background-color: white;
  padding: 20px;
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 20%;
  padding-right: 20px;
  font-size: 24px;
}

.sidebar h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.sidebar p {
  margin-bottom: 5px;
}

.to-do-list {
  width: 75%;
}

.to-do-list h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.dijelovi {
  display: flex;
  flex-wrap: wrap;
}

section {
  width: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

section h3 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

section p {
  color: #666;
}

.actions {
  margin-top: 10px;
}

.edit-btn,
.delete-btn,
.add-btn {
  background-color: purple;
  color: white;
  border: none;
  padding: 8px 15px;
  margin-right: 5px;
  cursor: pointer;
}

.edit-btn:hover,
.delete-btn:hover,
.add-btn:hover {
  background-color: #9c528b;
}

.line {
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.work-section {
  padding-bottom: 120px;
}

.work-section h3,
.work-section p,
.work-section .actions {
  color: black !important;
}

.health-section p {
  color: black !important;
}

.finances-section p {
  color: white !important;
}

.work-section .add-btn,
.health-section .add-btn {
  background-color: #333;
  color: white;
}

