<app-header></app-header>

<section>
  <div class="analytics-container">
    <div class="tasks-completed">
      <h3>Tasks Completed</h3>
      <mat-progress-bar mode="determinate" [value]="completedPercentage"></mat-progress-bar>
      <p>{{ completedPercentage | number: '1.0-0' }}%</p>
    </div>
    <div class="time-spent">
      <h3>Time Spent</h3>
      <div class="sand-clock-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="48px" height="48px">
          <path
            d="M6 2v2c0 1.11.89 2 2 2h2v2.1c0 .76-.28 1.44-.74 2.02l-2.9 3.64C6.1 13.47 6 14.23 6 15v2H4v2h16v-2h-2v-2c0-.77-.1-1.53-.36-2.24l-2.9-3.64C15.28 9.54 15 8.86 15 8.1V6h2c1.11 0 2-.89 2-2V2H6zm4 4h4v2.1c0 .63-.25 1.23-.66 1.66l-1.35 1.7-1.35-1.7A2.34 2.34 0 0 1 10 8.1V6zm2 11.8-1.35-1.7 1.35-1.7 1.35 1.7-1.35 1.7z"/>
        </svg>
        <p>{{ timeSpent }} minutes</p>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
