<app-header></app-header>

<section>
  <div id="workspaces"> <br>
    <h2>Software Engineering Project</h2>
  </div> <br>

  <div id="flex">

    <div class="prvi">
    <h2>To-Do</h2>
    <div class="to-do">
      <h3>Hanadi: Create Visual Mockups</h3>
      <h3>Due Date:13.03.2024.</h3>
      <a href=""> Add Comment</a> <br>
      <a href=""> Edit </a>
      <a href=""> Delete </a>
    </div>
    </div>

    <div class="drugi">
    <h2>Doing</h2>
    <div class="doing">
      <h3>Ena: Create Sitemap</h3>
      <h3>Due Date:13.03.2024.</h3>
      <a href=""> Add Comment</a> <br>
      <a href=""> Edit </a>
      <a href=""> Delete </a>
    </div>
    </div>

    <div class="treci">
    <h2>Done</h2>
    <div class="done">
      <h3> Hanadi: Define 2 features </h3>
      <a href=""> Add Comment</a> <br>
      <a href=""> Edit </a>
      <a href=""> Delete </a>
      <h3> Nadira: Define 2 features </h3>
      <a href=""> Add Comment</a> <br>
      <a href=""> Edit </a>
      <a href=""> Delete </a>
      <h3> Džejla: Define 2 features </h3>
      <a href=""> Add Comment</a> <br>
      <a href=""> Edit </a>
      <a href=""> Delete </a>
      <h3> Ena: Define 2 features </h3>
      <a href=""> Add Comment</a> <br>
      <a href=""> Edit </a>
      <a href=""> Delete </a>
    </div>
    </div>

  </div>

  <div class="navigation">
    <a href=""> View Workspaces </a>
  </div>

</section>

<app-footer></app-footer>
